
body{
  display: flex;
  flex-direction: column;
  
}
*{
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.detalles-noticia  {

  display: flex;
  flex-direction: column;
  margin: 50px 130px ;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;

}

.cont-categoria-noticia{
  border-radius: 10px;
  font-size: 14px;
  font-weight: 800;
  background-color: rgb(255, 0, 64);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: left;
  width:min-content;
  height: min-content;
  padding: 5px;
  margin-bottom: 19px;

}

.cont-categoria-noticia p{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.cont-head-noticia{

  width: fit-content;
  height: fit-content;

  
}

.cont-head-noticia h1{
  margin: 0;
  font-weight: 800;


}

.cont-head-noticia p {

  margin: 0;
  font-weight: 500;
}

.cont-informacion-reportero{
  display: flex;
  width: 100%;
  height: auto;
  margin: 30px  0px ;
  align-items: center;
  
}

.cont-informacion-reportero .cont-perfil-reportero img{
  
  height:80px;
  width: auto;
  border-radius: 50%;
  margin: 0px 10px 0px 0px  ;
  

}

.cont-informacion-reportero .detalles-noticiero h6{

  font-size: 17px;
  font-weight: 600;
  

}

.icons{

  display: flex;
  gap: 20px;
  margin: 0px 10px 0px 73%;

}

.cont-imagen-referencia img{

  width: 100%;
  height: auto;
}

.cont-descripcion-noticia .art-descripcion-noticia p{
  width: 100%;
  height: fit-content;
  margin: 50px 2px 50px 2px;
  display: flex;
  

}

.cont-detalles-iteracciones{
  display: flex;
  gap: 90%;
 
}

.likes{
  display: flex;
  gap: 6px;
}


.seccion-resultados .container{
  margin: 0;
}

 .product_container h3{
    font-weight: 800;
}