* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo-icon {
    font-size: 1.4rem;
    margin-right: 5px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.menu a:hover {
    color: #0077cc;
}

.acciones {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-outline {
    background-color: white;
    border: 1px solid #ccc;
}

.btn-black {
    background-color: #111;
    color: white;
}